<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Houtell</title>
    <link rel="stylesheet" href="/static/css/foundation.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'/ >
  </head>
  <body>
    <div class="header" id="home">
    <div class="row">
      <div class="large-12 columns">
          <div class="row">
            <div class="navbar">
              <div class="large-9 columns">
                <div class="houtell">
                  HOUTELL
                </div>
              </div>
              <div class="navlink">
                <div class="large-1 columns">
                  <a href="#home">Home</a>
                </div>
                <div class="large-1 columns">
                  <a href="#highlights">Highlights</a>
                </div>
                <div class="large-1 columns">
                  <a href="#about">About</a>
                </div>
                </div>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns topnav">
              <div class="searchbar">
                <input type="text" placeholder="Type hotel or region..." class="form cari" id="search"/>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="large-4 columns">
                <div class="garis"></div>
                <div class="category">Beach Vibes</div>
                <div class="hotelname">Sunflower Hotel &amp; Spa</div>
                <div class="region">Seminyak, Bali</div>
                <div class="ratingtext"><b>4.8</b> out of 5</div>
              </div>
              <div class="large-4 columns topnav">
              </div>
              <div class="large-4 columns">
                
              </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="row">
      <div class="large-1 columns">
        <div class="highlight" id="highlights">
          Highlights
        </div>
      </div>
      <div class="large-11 columns">
        <div class="hl-content">
          Hotels with highest rating this week, crafted just for you.
        </div>
      </div>
    </div>

    <div class="galeri">
      <div class="row gal">
        {% for hotel in hotels %}
        <a href="hotel/{{ hotel.canonical_name }}-{{ hotel.id }}">
          <div class="large-4 columns topnav thumbnailz">
            <figure class="pichover">
              <img src="{{ hotel.url_foto|default('/static/assets/hl1.png') }}" alt="{{ hotel.nama_hotel|default('Nama Hotel') }}">
              <figcaption>
                <h2>{{ hotel.nama_hotel|default('Nama Hotel') }}</h2>
                <p>{{ hotel.lokasi|default('Lokasi') }}<br>{{ hotel.rating|round(1,'floor')|default('-') }} out of 5</p>
              </figcaption>     
            </figure>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>

    <div class="footer" id="about">
      <div class="row">
        <div class="large-6 columns">
          <h4>About</h4>
          <div class="content-about">
            Mauris dapibus, eros sit amet pretium ullamcorper, felis lectus ullamcorper ligula, sit amet cursus velit lectus sit amet tortor. Donec ultricies dui neque. Phasellus convallis ligula non lacus pellentesque, nec congue augue placerat. Phasellus eleifend feugiat ligula. Etiam non massa fringilla, maximus erat sit amet, suscipit dui. Nulla facilisi. Aliquam justo leo, dapibus sit amet eros non, tincidunt rutrum urna. In vestibulum mollis placerat. Nulla hendrerit enim quis lectus molestie, ac eleifend enim lacinia. Lorem 
          </div>
        </div>
        <div class="large-2 columns">
          <div class="h6">Houtell</div>
          <div class="content-houtell">
            <ul>
              <li>About</li>
              <li>Careers</li>
              <li>Press</li>
              <li>Policies</li>
              <li>Help</li>
            </ul>
          </div>
        </div>
        <div class="large-2 columns">
          <div class="h6">Discover</div>
          <div class="content-discover">
            <ul>
              <li>Trust &amp; Safety</li>
              <li>Invite Friends</li>
              <li>Gift Cards</li>
              <li>Business Travel</li>
              <li>Guidebooks</li>
            </ul>
          </div>
        </div>
        <div class="large-2 columns">
          <div class="h6">Hosting</div>
          <div class="content-hosting">
            <ul>
              <li>Why Host</li>
              <li>Hospitality</li>
              <li>Responsible Hosting</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/vendor/jquery-ui.js"></script>
    <script src="/static/js/vendor/what-input.js"></script>
    <script src="/static/js/vendor/foundation.js"></script>
    <script src="/static/js/app.js"></script>

      <script>
        const cities = {{ cities|json_encode|raw }};
        $("#search").autocomplete({
          source: cities.map(a => a.nama_kota),
          select: function( event , ui ) {
            const nama_kota = ui.item.value;
            const id = cities.find(x => x.nama_kota == nama_kota).id;
            window.location.href = `/city/${id}-${nama_kota}`;
          }
        });
      </script>
  </body>

</html>